<div id="<%= dom_id stock %>">
  <p>
    <strong>Symbol:</strong>
    <%= stock.symbol %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= stock.desc %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= stock.value %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= stock.count %>
  </p>

</div>
